<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>Task Manager</title>
    <!-- Custom CSS -->
    <link href="/static/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
         style="background:url(/static/images/auth-bg.jpg) no-repeat center center;">
        <div class="auth-box">
            <div id="loginform">
                <div class="logo">
                    <h3>Hi! welcome to Task Manager</h3>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <form class="form-horizontal m-t-20" id="loginform" action="index.html">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" placeholder="Username"
                                       name="user" id="user"
                                       aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                </div>
                                <input type="password" id="password" name="password"
                                       class="form-control form-control-lg" placeholder="Password"
                                       aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <div class="alert alert-danger" role="alert" id="notfilled" style="display: none">
                                        <strong>Oh snap!</strong> Fill all fields up and try submitting again.
                                    </div>

                                    <div class="alert alert-danger" role="alert" id="notsuccess" style="display: none">
                                        <strong>Bad credentials</strong> check the fields up and try submitting again.
                                    </div>

                                    <div class="alert alert-danger" role="alert" id="error" style="display: none">
                                        <strong>Something was wrong!</strong> try submitting again.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-block btn-lg btn-info" type="submit">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper scss in scafholding.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper scss in scafholding.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script src="/static/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login
    // ==============================================================
    $("#loginform").submit(function (e) {
        $("#notfilled").hide()
        $("#notsuccess").hide()
        $("#error").hide()
        if (($("#user").val()).replace(/\s+/, "") != "" && ($("#password").val()).replace(/\s+/, "") != "") {
            $("#loginform > div.form-group.text-center > div > button").text("Please wait")
            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    name: $("#user").val(),
                    password: $("#password").val()

                },
                success: function (data) {
                    $('#signbtn').text("Signing on...")
                    if (data.status == "warning") {
                        $("#notsuccess").show()
                    }
                    else {
                        window.location = '/home';
                    }

                },
                error: function (jqXHR) {
                    $("#error").show()
                }

            });


        }
        else {
            $("#notfilled").show()
        }
        $("#loginform > div.form-group.text-center > div > button").text("Log In")
        return false

    });


    $(document).ready(function () {
        console.log("ready!");
    });
</script>
</body>

</html>